<!-- <form action="/restaurants" method="post">
  <%# hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Enter name:</label>
  <input type="text" name="restaurant[name]">

  <label for="address">Enter address:</label>
  <input type="text" name="restaurant[address]">

  <label for="rating">Enter rating:</label>
  <input type="text" name="restaurant[rating]">

  <input type="submit">
</form> -->

<%= render 'shared/form' %>
